<%= form_tag(vids_url, method: 'post') do %>
  <div>
    <%= label_tag :source, "Source: (use embed url for youtube) "%><br />
    <%= text_field_tag :source %>
  </div>

    <div>
    <%= label_tag :caption, "Caption: "%><br />
    <%= text_area_tag :caption %>
  </div>

    <div>
    <%= label_tag :rating, "Rating: " %><br />
    <%= text_field_tag :rating %>
  </div>

  <div>
    <%= submit_tag "Create Vid" %>
  </div>
<% end %>
