<p>
  <iframe width="560" height="315" src="<%=@vid.source%>" frameborder="0" allowfullscreen></iframe><br>
  <%= link_to "Edit", edit_vid_url(@vid.id), :class => "btn btn-success"%>
  <%= link_to "Delete", vid_url(@vid.id), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-success" %>
</p>
<% if user_signed_in? %>
<%= form_tag(vid_comment_url(@vid.id), method: 'post') do %>

  <div>
    <%= label_tag :comment %><br />
    <%= text_area_tag :comment %>
  </div>
  <input name="id" type="hidden" value="<%= @vid.id %>">
  <div>
    <%= submit_tag "Create Comment" %>
  </div>
<% end %>
<% end %>

<ul>
  <% @vid.comments.each do |com| %>
      <li><%= com.user.email %> says:     <%= com.comment %></li>
      <li><%= link_to 'Destroy', destroy_comment_url(@vid.id, com.id), method: 'delete', data: { confirm: "Do you really want to delete this comment?" } %></li>
  <% end %>
</ul>
