<!DOCTYPE html>
<html>
<head>
  <title>Makemesmile</title>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
          <h1>Make Me Smile</h1>
          <%= link_to image_tag("http://www.cartoonlogodesigns.com/images/misc/Smiley%20faces/smiley%20face.jpg", width: 30, id: "homelink"), vids_url %>
          <%= link_to 'Add', new_vid_url, id: "homelink" , class: "btn btn-success" %>
            <form name="vid selection" id= "homelink">
            <select name="vidmenu" id="vidmenu" style="width: 50%">
            <option value=<%= vids_url %> selected>Select Vid</option>
            <% Vid.all.each do |vid| %>
                <option value=<%= vid_url(vid.id) %>><%= vid.caption %></option>
            <% end  %>
            </select>
            <input class="btn btn-success" id = "up" type="button" name="Submit" value="Go!" onClick="window.location.href=vidmenu.value">
            <!-- window.open(vidmenu.value,'newtab'+vidmenu.value)  to open in new window-->
            </form>

            <div id="signinfo"><form class="navbar-form pull-right">
                 <% if user_signed_in? %>
                    Signed in as <%= current_user.email %>. Not you?
                    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                  <% else %>
                    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
                <% end %>
            </form></div>
            <div><br><br><br></div>
            <%= notice %>
<%= yield %>
</div>
  <hr>
  <div class="footer">
      <p>&copy; Company 2013</p>
  </div>
</body>
</html>
